*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class] {
  padding: 0;
}
body,
p,
figure,
figcaption,
blockquote
{
  margin: 0;
}
@font-face {
   font-family: "Roboto";
   src:
   url("/fonts/Roboto-Light.woff2") format("woff2"),
   url("/fonts/Roboto-Light.woff") format("woff");
 }
body {
   font-family: "Roboto";
   font-size: 18px;
   line-height: 21px;
   color: #131718;
}
main {
   width: 1140px;
   margin: 0 auto;
   background: #FFFFFF;
   border: 1px solid #C4C4C4;
   border-radius: 10px;
}
.container {
   padding: 50px 24px 50px 50px;
}
.descr__menu {
   margin-top: 20px;
   margin-left: 27px;
}
li.descr__menu__paragraph {
   margin-bottom: 10px;
   list-style: none;
   display: flex;
   align-items: center;
}
li.descr__menu__paragraph::before {
   content: "";
   height: 8px;
   width: 8px;
   border-radius: 50%;
   display: block;
   margin-right: 9px;
   background: #EC1630;
}
.apeal {
   display: flex;
   column-gap: 128.5px;
   margin-top: 46px;
}
.apeal__download {
   width: 229px;
   display: flex;
   flex-direction: column;
}
.apeal__send {
   width: 274px;
   display: flex;
   flex-direction: column;
}
.apeal__pay {
   width: 274px;
   display: flex;
   flex-direction: column;
}
.apeal__title {
   text-align: center;
}
.apeal__subtitle {
   font-size: 12px;
   line-height: 14px;
   color:#EC1630;
   text-align: center;
   margin-top: 20px;
}
.apeal__button {
   display: block;
   margin: 0 auto;
   margin-top: 37px;
   font-size: 14px;
   line-height: 154%;
   color: #FFFFFF;
   text-transform: uppercase;
   background: #EC1630;
   border: none;
   border-radius: 25px;
   padding: 7px 50px;
   width: 248px;
   cursor: pointer;
}
.apeal__links {
   display: flex;
   justify-content: space-between;
   margin-top: 43px;
   margin-left: 15px;
   margin-right: 15px;
}
.apeal__link{
   position: relative;
}
.apeal__link__descr {
   position: absolute;
   top: 20px;
   left: 10px;
}
.apeal__link__number {
   position: absolute;
   top: 40px;
   left: 10px;
}
.apeal__link__name2 {
   font-size: 12px;
   line-height: 14px;
   color: #EC1630;
   position: absolute;
   left: 18px;
   bottom: 20px;
   text-decoration-line: underline;
}
.apeal__link__name1 {
   font-size: 12px;
   line-height: 14px;
   color: #EC1630;
   position: absolute;
   left: 19px;
   bottom: 23px;
   text-decoration-line: underline;
}
.apeal__link__icon {
   position: absolute;
   top: 1.5px;
   right: 3px;
}
.apeal__link__arrow {
   position: absolute;
   top: 5px;
   right: 10px;
}
.apeal__link__line {
   position: absolute;
   top: 12px;
   right: 6px;
}
.apeal__link__ok {
   position: absolute;
   top: 7px;
   right: 9px;
   display: none;
}
.apeal__wrapper {
   display: flex;
   justify-content: space-between;
   margin-top: 64px;
   margin-left: 46px;
   margin-right: 45px;
}
.input__wrapper {
   height: 100%;
   position: relative;
}
.input__file {
   opacity: 0;
   visibility: hidden;
   position: absolute;
 }
.input__file__button {
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 10;
   cursor: pointer;
}
.input__file__form {
   position: relative;
}
.input__file__num {
   position: absolute;
   top: 52px;
   left: 29px;
}
.input__file__chek {
   position: absolute;
   top: 54px;
   left: 33px;
   display: none;
}
.input__file__icon {
   position: absolute;
   top: 1.5px;
   right: 3px;
}
.input__file__penc {
   position: absolute;
   top: 7.5px;
   right: 6px;
   display: none;
}
.input__file__plus {
   position: absolute;
   top: 9.5px;
   right: 8px;
}
.important {
   background: #EEEEEE;
   border: 1px solid #EC1630;
   margin-right: 4px;
   margin-top: 45px;
   padding: 15px;
}
.important__descr {
   font-size: 12px;
   line-height: 14px;
}